.container {
  @apply flex
    gap-10;

  @media screen and (max-width: 576px) {
    @apply flex-col
    overflow-y-auto
    w-full;
    max-height: 70vh;
  }
}

.taskForm_Wrapper {
  @apply relative;
}

.historyContainer {
  @apply p-2
  bg-gray-100
  rounded-lg;

  height: 406px;

  & > h3 {
    @apply text-2xl
    pl-2
    mb-2
    font-medium;
  }

  & > ul {
    @apply flex
    flex-col
    px-2
    w-80
    gap-4
    overflow-y-auto;

    max-height: 90%;

    @media screen and (max-width: 576px) {
      @apply w-full;
    }
  }
}

.skeleton {
  @apply flex
  flex-col
  px-2
  w-80
  gap-4;

  & > div {
    @apply h-16;
  }

  @media screen and (max-width: 576px) {
    @apply w-full;
  }
}
