.container {
  @apply flex
    items-center
    text-3xl
    text-white;
}

.iconWrapper {
  @apply flex
    items-center
    justify-center
    w-24
    h-24;

  animation: rotateAnimation 2s linear infinite;
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
