.container {
  @apply flex
    flex-col
    gap-y-7;
}

.boardList {
  @apply flex
    gap-x-5
    overflow-x-auto
    rounded-2xl
    border
    border-gray-700
    bg-gray-200
    p-5;
  height: 85vh;

  -webkit-box-shadow: inset 0px 0px 12px 2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 0px 12px 2px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px 0px 12px 2px rgba(0, 0, 0, 0.9);
}

.skeleton {
  & > div {
    height: 85vh;
  }
}
